@charset "utf-8";

@media screen and (max-width:375px) {

    body{
        min-width: auto;
        width: auto;
    }
    /*** 
    header
    ***/

    /***
    mainvisual / slideshow
    ***/
    #mainvisual img{
        height: 300px;
    }

    .slideshow img{
        height: 300px;

    }

    .chachcopy-box{ 
        transform: translate(-50%,-40%);
        width: 350px;
        padding:16px 0; 
    }

    .chachcopy-en{
        font-size: 1rem;
        margin: 0 auto 12px;
        text-align: center;
    }

    .chachcopy-jp{
        font-size: 0.875rem;
        margin: 0 auto;
        text-align: center;
    }

    /*** 
    appeal
    ***/
    .section-title{
        font-size: 1rem;
        margin: 20px 0 10px;
    }

    .appeal-content{
        display: block;
        margin-bottom: 30px;
    }

    .appeal-content .col3{
        width: 95%;
        margin: 0 auto;
    }

    .appeal-content img{
        width: 100%;
    }

    .appeal-content .content-title{
        font-size: 0.875rem;
        margin: 10px 0;
    }

    .appeal-content .message{
        width: 95%;
        font-size: 10px;
        margin: 0 auto 10px;
    }

    /***
    customers voice
    ***/
    .customer-img{
        width: 16%;
        margin: auto 2%;
    }
    .voice-text{
        width: 80%;
    }
    .voice-headline{
        font-size: 1rem;
        margin: 20px 3% 16px;
    }

    .voice-message{
        margin: 20px 0 16px 3%;
    }
    /***
    feature
    ***/

    .feature img{
        height: 300px;
    }
    .feature .col2row2{
        gap: 10px;
        min-width: 0;
        width: 90%
    } 

    .feature-headline{
        margin: 10px 0;
        font-size: 1rem;
    }

    .feature-message{
        font-size: 0.75rem;
    }

    /***
    contact
    ***/
    .contact{
        padding:20px 0;
    }

    .contact-infomation{
        font-size: 1.5rem;
        margin: 0 3% 60px;
    }

    .btn{
        width: 90%;
        margin:0 auto;
    }

    /***
    footer
    ***/
    .link-box{
        padding: 20px 3%;
    }
    .list-title{
        font-size: 0.875rem;
    }

    .link-list{
        font-size: 0.625rem;
    }
    .copyright{
        font-size: 0.75rem;
    }

} /* @media screen */
