@charset "utf-8";

body{
    background: #fff;
    color: #464646;
    min-width: 1100px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino kaku Gothic ProN", sans-serif;
}

a{
    text-decoration: none;
}

.wrapper1100{
    max-width: 1100px;
    margin: 0 auto;
}

.bg-blue{
    background: #4B69C1;
}

.bg-pink{
    background: #DE5B83;
}

.bg-green{
    background: #61C163;
}

/*** header ***/
#header{
    display: flex;
    justify-content: space-between;
    margin: 27px auto;
    align-items: center;
}

#header ul{
    display: flex;
    justify-content: space-between;
    width: 453px;
}

#header li a{
    color: #464646;
    font-size: 0.875rem;
    font-family: "KozGoPr6N-Regular";
}

#header li a:hover{
    color: #aaaaaa;
}

/*** mainvisual ***/
#mainvisual{
    position: relative;
    margin: 0 auto 60px;
}

#mainvisual img{
    width: 100%;
    height: 613px;
    object-fit: cover;
}

#mainvisual .chachcopy-box{
    position: absolute;
    top: 50%;
    left: 50%   ;
    transform: translate(-50%,-51.32%);
    min-width: 800px;
    padding: 32px 0 25px 0;
    background: #ffffffCC;
    color: #000;
    font-family: "Meiryo";
}

#mainvisual .chachcopy-en{
    font-size: 2.5rem;
    letter-spacing: 0.016em;
    margin: 0 70px 30px 76px;
}

#mainvisual .chachcopy-jp{
    font-size: 2rem;
    letter-spacing: 0.077em;
    margin: 0 63px 0 83px;
}

/*** appeal section ***/
.section-title{
    font-size: 2.5rem;
    color: #333333;
    text-align: center;
    margin-bottom: 67px;
}

.appeal-content{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.appeal-content .col3{
    width: 31.81%;
    margin-bottom: 76px;
}

.appeal-content .content-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 33px auto 20px;
}


.appeal-content .message{
    width: 84.8%;
    font-size: 1rem;
    line-height: 1.5em;
    margin-left: 6.57%;
    margin-bottom:32px;
}
